<a href="https://colab.research.google.com/github/Snehal1123/Education/blob/Branch1/Decision_Tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/content/AdultIncome.csv")

In [3]:
df

       age        wc      education  ...   gender hours per week IncomeClass
0       38   Private        HS-grad  ...     Male             40       <=50K
1       28   Private      Bachelors  ...   Female             40       <=50K
2       37   Private        Masters  ...   Female             40       <=50K
3       31   Private        Masters  ...   Female             50        >50K
4       42   Private      Bachelors  ...     Male             40        >50K
...    ...       ...            ...  ...      ...            ...         ...
19782   53   Private        Masters  ...     Male             40        >50K
19783   22   Private   Some-college  ...     Male             40       <=50K
19784   40   Private        HS-grad  ...     Male             40        >50K
19785   58   Private        HS-grad  ...   Female             40       <=50K
19786   22   Private        HS-grad  ...     Male             20       <=50K

[19787 rows x 8 columns]

In [4]:
df.isnull().sum

<bound method DataFrame.sum of          age     wc  education  ...  gender  hours per week  IncomeClass
0      False  False      False  ...   False           False        False
1      False  False      False  ...   False           False        False
2      False  False      False  ...   False           False        False
3      False  False      False  ...   False           False        False
4      False  False      False  ...   False           False        False
...      ...    ...        ...  ...     ...             ...          ...
19782  False  False      False  ...   False           False        False
19783  False  False      False  ...   False           False        False
19784  False  False      False  ...   False           False        False
19785  False  False      False  ...   False           False        False
19786  False  False      False  ...   False           False        False

[19787 rows x 8 columns]>

In [5]:
df = pd.get_dummies(df, drop_first = True)

In [6]:
df

       age  hours per week  ...  gender_ Male  IncomeClass_ >50K
0       38              40  ...             1                  0
1       28              40  ...             0                  0
2       37              40  ...             0                  0
3       31              50  ...             0                  1
4       42              40  ...             1                  1
...    ...             ...  ...           ...                ...
19782   53              40  ...             1                  1
19783   22              40  ...             1                  0
19784   40              40  ...             1                  1
19785   58              40  ...             0                  0
19786   22              20  ...             1                  0

[19787 rows x 20 columns]

In [7]:
x = df.iloc[:, :-1].values
y = df.iloc[:, -1].values

In [8]:
x

array([[38, 40,  0, ...,  0,  1,  1],
       [28, 40,  0, ...,  0,  0,  0],
       [37, 40,  0, ...,  0,  1,  0],
       ...,
       [40, 40,  0, ...,  0,  1,  1],
       [58, 40,  0, ...,  0,  1,  0],
       [22, 20,  0, ...,  0,  1,  1]])

In [9]:
from sklearn.model_selection import train_test_split

In [11]:
x_train, x_test, y_train, y_test = train_test_split(x, y,test_size = 0.25, random_state = 0)

In [12]:
x_test.shape

(4947, 19)

In [13]:
y_test.shape

(4947,)

In [14]:
from sklearn.tree import DecisionTreeClassifier

In [15]:
dtc = DecisionTreeClassifier(random_state = 0)

In [16]:
dtc.fit(x_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=0, splitter='best')

In [18]:
y_pred = dtc.predict(x_test)

In [21]:
from sklearn.metrics import confusion_matrix, accuracy_score
confusion_matrix(y_test, y_pred)

array([[3154,  461],
       [ 633,  699]])

In [22]:
accuracy_score(y_test, y_pred)

0.7788558722458055

###Ensemble Techniques In Decision Tree
Bagging And Boosting.

**How to work with Random Forest**

In [23]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(random_state = 0)
rfc.fit(x_train, y_train)
y_predrfc = rfc.predict(x_test)
confusion_matrix(y_test, y_predrfc)

array([[3181,  434],
       [ 571,  761]])

In [24]:
accuracy_score(y_test, y_predrfc)

0.7968465736810187