<a href="https://colab.research.google.com/github/Snehal1123/Education/blob/Branch1/Salary_Data_LR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
df = pd.read_csv("/content/Salary_Data.csv")

In [ ]:
df

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [ ]:
x = df.iloc[:, 0].values.reshape(-1,1)

In [ ]:
x.shape

(30, 1)

In [ ]:
x

array([[ 1.1],
       [ 1.3],
       [ 1.5],
       [ 2. ],
       [ 2.2],
       [ 2.9],
       [ 3. ],
       [ 3.2],
       [ 3.2],
       [ 3.7],
       [ 3.9],
       [ 4. ],
       [ 4. ],
       [ 4.1],
       [ 4.5],
       [ 4.9],
       [ 5.1],
       [ 5.3],
       [ 5.9],
       [ 6. ],
       [ 6.8],
       [ 7.1],
       [ 7.9],
       [ 8.2],
       [ 8.7],
       [ 9. ],
       [ 9.5],
       [ 9.6],
       [10.3],
       [10.5]])

In [ ]:
y = df.iloc[:,1].values

In [ ]:
y

array([ 39343.,  46205.,  37731.,  43525.,  39891.,  56642.,  60150.,
        54445.,  64445.,  57189.,  63218.,  55794.,  56957.,  57081.,
        61111.,  67938.,  66029.,  83088.,  81363.,  93940.,  91738.,
        98273., 101302., 113812., 109431., 105582., 116969., 112635.,
       122391., 121872.])

**Train and Test the variables**

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
train_x,test_x,train_y, test_y = train_test_split(x,y, test_size = 0.2, random_state = 0)

In [ ]:
test_x

array([[ 1.5],
       [10.3],
       [ 4.1],
       [ 3.9],
       [ 9.5],
       [ 8.7]])

In [ ]:
test_y

array([ 37731., 122391.,  57081.,  63218., 116969., 109431.])

**Regressor**

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
Lin = LinearRegression()

**Fit the data**

In [ ]:
Lin.fit(train_x, train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
pred_y = Lin.predict(test_x)

Predicted values for our model

In [ ]:
pred_y

array([ 40748.96184072, 122699.62295594,  64961.65717022,  63099.14214487,
       115249.56285456, 107799.50275317])

Actual Values from dataset

In [ ]:
test_x

array([[ 1.5],
       [10.3],
       [ 4.1],
       [ 3.9],
       [ 9.5],
       [ 8.7]])

In [ ]:
test_y

array([ 37731., 122391.,  57081.,  63218., 116969., 109431.])

**Error Evaluation :**
1. MAE - Mean Absolute Error
2. MSE - Mean Squared Error

###MAE

In [ ]:
pred_y - test_y

array([ 3017.96184072,   308.62295594,  7880.65717022,  -118.85785513,
       -1719.43714544, -1631.49724683])

In [ ]:
np.abs(pred_y - test_y)

array([3017.96184072,  308.62295594, 7880.65717022,  118.85785513,
       1719.43714544, 1631.49724683])

In [ ]:
np.abs(pred_y - test_y).mean()

2446.1723690465055

In [ ]:
Lin.predict([[3.7]])

array([61236.62711953])

###MSE

In [ ]:
((pred_y - test_y)**2) .mean()

12823412.298126549

### Metrics from Library

In [ ]:
from sklearn import metrics

In [ ]:
metrics.mean_absolute_error(test_y, pred_y)

2446.1723690465055

In [ ]:
metrics.mean_squared_error(test_y , pred_y)

12823412.298126549